.events{
 background: url(/img/events_bg.jpg) center/cover no-repeat;
 padding: 45px 0;
h6{
 text-transform: uppercase;
 text-align: center;
 letter-spacing: 0.5em;
 font-style: 12px;
 color: $white;
}
}
.events_container{
 @include flex(space-between, center);
 margin: 45px auto;
}
.left_event{
 position: relative;
 .circle{
  left:0;
  transform: translate(-40%, -50%);
  }
  .events_title{
   right: 0;
  }
}
.right_event{
 position: relative;
 .circle{
  right:0;
  transform: translate(40%, -50%);
  }
  .events_title{
   left: 0;
   transform: scale(-1);
   text-align: right;
  }
 }
 .events_title{
  background: $color;
  border-radius: 0 5px 5px 0;
  color: $white;
  font-style: 24px;
  font-family: &kurale;
  text-transform: uppercase;
  padding: 30px 20px;
  writing-mode: vertical-lr;
  position: absolute;
  top: 0;
  height: 100%;
 }
 .events_contacts{
  font-style: 12px;
  color: $white-oacity;
  line-height: 12px;
  text-align: center;
  a{
   color: $white-oacity;
  }
 }